<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
    <title>Fresh Harvest</title>
    <style>
         body {
    font-family: 'Alata';font-size: 16px;
          }
          nav{
            background-color:rgb(247, 91, 99);
          }
          .one-edge-shadow {
              box-shadow: 0 8px 20px -7px rgb(83, 245, 223);
            }
          .display-8{
              font-weight: 200;
              font-size: 30px;
            }
            
    </style>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>
  <body>
    
  <!--NAVABAR-->
    <nav class="one-edge-shadow sticky-top navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/fresh">Fresh Harvest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon sl-only"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
    <ul class="navbar-nav ml-auto ">
            <ul class="navbar-nav mr-only">
              <li class="nav-item">
                <a class="nav-link" href="/mystore">Store<span class="sr-only">(current)</span></a>
              </li>
            </ul>
        
                <li class="nav-item ">
                  <a class="nav-link" href="/cart">Cart
                    <span class="badge badge-info">{{request.session.cart.keys|length}}</span>
                    <span class="sr-only">(current)</span></a>
                </li>
              {% if request.session.customer %}

                <li class="nav-item ">
                  <a class="nav-link" href="/orders">Orders <i class="fas fa-shopping-cart"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/logout">Logout <i class="fas fa-user"></i><span class="sr-only">(current)</span></a>
                </li>
            {% else %}

            <li class="nav-item ">
              <a class="nav-link" href="/signup">Signup / Login <i class="fas fa-user"></i> <span class="sr-only">(current)</span></a>
            </li>
            
            {% endif %}  
      </ul>
      </div>
      </nav>
     
        {% block content %}
        {% endblock %}
        
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
        <script src="https://www.google.com/recaptcha/api.js" async defer>
        </script> 
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
       integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
       crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
       integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
       crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
       integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
       crossorigin="anonymous"></script>
   </body>
  </html>
